<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Default" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         connectionString="Server=ReleaseServer;Database=Release;Persist Security Info=True;integrated security=false; user id=release; password=5678"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>